@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bg: #121212;
    --default-light-text: #fff;
    --gray-text: #aaa;
    --bubble: #FF6EC1;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--bg);
    color: var(--default-light-text);
}

/* Default settings */

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 40px;
}

a {
    color: var(--default-light-text);
}

/* H E A D E R */
header {font-family: "Reddit Mono", monospace; text-transform: uppercase;}
header .container {
    display: flex;
    align-items: center;
    padding-top: 15px;
    z-index: 98;

}

header {
    border-bottom: 4px #202020 solid;
    
}

header .leftside {
    cursor: default;
}

header .leftside, .rightside {
    flex: 1;
}

header .rightside nav ul{
    display: flex;
    gap: 20px;
}

header .rightside nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

header .rightside nav .search {
    position: relative;
    max-width: 185px;
    cursor: pointer;
}

header .rightside nav .search input {
    background-color: transparent;
    outline:none;
    border: solid 1px #fff;
    color: #fff;
    height: 32px;
    border-radius: 3px;
    padding: 0 10px 0px 25px;
    max-width: 30px;
    transition: max-width 0.7s ease;
}

header .rightside nav .search img {
    width: 30px;
    cursor: pointer;
    transition: all 200ms linear;
}

header .rightside nav .search img:hover {
    background: var(--bubble);
    filter: none !important;
    border-radius: 50px;
    padding: 2px;
}

/* Header Search */

#header-search-active {
    display: none;
}

.search-area-active {
    display: flex !important;
    position: fixed;
    align-items: center;
    background-color: var(--bg);
    top: 110px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    flex-direction: column;
    overflow-y: scroll;

}

#ss-search {
    display: flex;
    justify-content: center;
}

.search-area-active #ss-search input {
    width: 60vw;
    border: solid 1px #fff;
    padding: 10px;
    outline: none;
    font-size: 26px;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 100px;
    color: #fff;
}

.sectionSearch-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    padding-bottom: 300px;

}

.sectionSearch-content .content {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    max-width: 200px;
    border-radius: 10px;
}

.sectionSearch-content .content img {
    max-width: 200px;
    min-width: 200px;
    max-height: 250px;
    min-height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.sectionSearch-content .content p {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

#ss-title {
    font-weight: 500;
}

#ss-genre {
    font-size: 13px;
}

#ss-adp {
    font-size: 13px;
}

@media (max-width: 425px) {
    .search-area-active #ss-search input {
        font-size: 16px;
    }

    .sectionSearch-content .content img {
        max-width: 150px;
        min-width: 150px;
        max-height: 180px;
        min-height: 180px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .sectionSearch-content .content {
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
        max-width: 150px;
        border-radius: 10px;
    }

    #ss-title {
        font-size: 12px;
    }
    
    #ss-genre {
        font-size: 10px;
    }
    
    #ss-adp {
        font-size: 10px;
    }

    .sectionSearch-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 350px) {
    .sectionSearch-content {
        flex-direction: column;
        align-items: center;
    }

}

.menu {
    display: none;
}

header nav ul li a:hover {
    transition: color 0.1s ease;
}

header nav ul li a:hover{
    color: #FF6EC1;
}

@media (max-width: 768px) {
    .menu {
        display: flex;
        z-index: 999;
    }

    header .rightside {
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    header .rightside nav ul {
        display: none;
        transition: width 0.5s ease;
    }

    header .rightside nav .search input {
        min-width: 185px;
        padding: 0 10px 0px 30px;
    }

    header .visible nav ul {
        position: absolute;
        right: 0px;
        padding: 90px 40px;
        top: 0px;
        display: flex;
        width: 50%;
        height: 30vh;
        border-bottom-left-radius: 10px;
        background: #000000d2;
        flex-direction: column;
        text-align: end;
        z-index: 999;
    }
    header .visible nav ul li a:hover{
        padding: 10px;
        background: var(--bg);
    }
}

@media (max-width: 425px) {
    header .container {
        padding: 10px 20px;
    }

    header .leftside img {
        width: 140px;
        padding-top: 5px;
    }

    header .rightside nav .search input {
        min-width: 150px;
        font-size: 11.5px;
        padding: 10px 0px 10px 22px;
        height: 25px; 
    }

    header .rightside nav .search img {
        width: 30px;
        margin-top: 5px;
    }

    header .rightside .menu img {
        width: 35px;
    }

    header .rightside nav .search {
    position: relative;
    max-width: 185px;
    cursor: pointer;
}

    header .rightside {
        gap: 10px;
    }

    header .visible nav ul {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    header .leftside img {
        width: 120px;
    }

    header .rightside nav .search input {
        min-width: 105px;
        font-size: 7.5px;
        padding: 0 0px 0px 18px;
        height: 20px; 
    }

    header .rightside nav .search img {
        width: 12px;
        top: 7px;
    }
}

/* H I G H L I G H T E D */
.highlighted .container {
    display: flex;
    font-family: "Ubuntu", sans-serif;
    margin-top: 30px;
    
}

.highlighted .container .leftside {
    flex: 2;
    margin-right: 120px;
}

.highlighted .container .contentImgs {
    width: 100%;
}

.highlighted .container .contentImgs img {
    width: 80%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
    padding-top: 5px;
}

.highlighted .container .contentImgs p {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--gray-text);
}

.highlighted .container .rightside {
    text-transform: uppercase;
    flex: 1;
}

.highlighted .container .rightside {
    display: flex;
    flex-direction: column;
    align-items: end;
}


.highlighted .container .contentImgs2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.highlighted .container .contentImgs2 img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
    padding-top: 5px;
}

.highlighted .container .contentImgs2 p {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--gray-text);
}

#quick-acess {
    margin-top: 70px;
    display: flex;
    gap: 10px;
}

#quick-acess a {
    border: #aaa 2px solid;
    padding: 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all 0.1s ease;
}

#quick-acess a:hover {
    background-color: #000;
    color: #FF6EC1;
    border: #FF6EC1 2px solid;
}

.contentImgs-notices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.contentImgs-notices a img {
    max-height: 150px;
}

#reviewClickExpanse {
    position: relative;
}

#reviewClickExpanse::before {
    content: "";
    width: 335px;
    border-radius: 10px;
    height: 325px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5)
}

#reviewClickExpanse::after {
    content: "Clique em mim";
    width: 175px;
    border-radius: 10px;
    height: 25px;
    top: 145px;
    font-size: 22px;
    background-color: #FF6EC1cc;
    color: #ffffff;
    padding: 5px;
    left: 70px;
    font-weight: bold;
    position: absolute
}

.newNoticeClicked {
    position: absolute;
    display: flex;
    top: 110px;
    justify-content: center;
    gap: 50px;
    left: 0;
    width: 100vw;
    height: calc(100vh);
    background: #121212;
    z-index: 90;
}

.newNoticeClicked a img {
    max-height: 1000px;
    cursor: default;
}

.newNoticeClicked p {
    max-width: 40vw;
    line-height: 20px;
}

.contentImgs2 .newNoticeClicked {
    height: 100vh;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 20px;
    scrollbar-color: #222 #444;
}

.contentImgs2 .newNoticeClicked {
    justify-content:unset;
}

.contentImgs2 .newNoticeClicked .area-review {
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    min-width: 1000px;
    max-width: 1000px;
    min-height: 500px;
    background: #202020;
    justify-content: space-between;
}

.contentImgs2 .newNoticeClicked .area-review .leftside img {
    width: 300px;
    height: 350px;
}

.contentImgs2 .newNoticeClicked .area-review .leftside {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    max-width: 350px;
}

.contentImgs2 .newNoticeClicked .area-review .leftside h2 {
    margin-bottom: 5px;
    font-size: 20px;
}

.contentImgs2 .newNoticeClicked .area-review .leftside2 span {
    color: var(--bubble);
}

.contentImgs2 .newNoticeClicked .leftside h2 {
    max-width: 500px;
}

.contentImgs2 .newNoticeClicked .area-review .rightside {
    display: flex;
    max-height: 400px;
    flex: 2;
    text-align: start;
    justify-content: start;
    max-width: 500px;
}
.contentImgs2 .newNoticeClicked .area-review .rightside h3 {
    padding: 5px 10px;
    color: #777;
}

.contentImgs2 .newNoticeClicked .rightside p {
    max-width: 500px;
    font-size: 16px;
    line-height: 24px;
    overflow-y: auto;
    scrollbar-color: #333 #444;
    scrollbar-width: thin;
    padding: 5px;
}

@media (max-width: 1200px) {
    .contentImgs2 .newNoticeClicked .area-review {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width:auto;
        max-width: auto;
        min-height: auto;
        background: #202020;
        justify-content: space-between;
        padding: 10px 15px;
    }

    .highlighted .container {
        display: flex;
        flex-direction: column;
    }

    .highlighted .container .leftside {
        flex: 1;
        margin-right: 0px;
    }

    .highlighted .container .contentImgs {
        display: flex;
        justify-content: center;
    }

    .highlighted .container .rightside {
        flex: 1;
    }
    .highlighted .container .leftside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .highlighted .container .rightside {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .highlighted .container .contentImgs img {
        width: 100%;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 18px;
    }

    .highlighted .container .contentImgs p, .highlighted .container .contentImgs2 p {
        text-transform: uppercase;
        font-size: 12px;
        color: var(--gray-text);
    }

    #quick-acess a {
        border: #aaa 2px solid;
        padding: 5px;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 2px;
        transition: all 0.1s ease;
    }

    #quick-acess {
        margin-top: 70px;
        display: flex;
        gap: 10px;
    }
}

/* S E A S O N S */

.seasons {
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
}

.seasons .container .list {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: #050505;
    padding-bottom: 50px;
}

.seasons .container span {
    color: var(--bubble);
    text-transform: uppercase;
    border: solid var(--bubble) 4px;
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    padding: 5px;
}

.seasons .container .list {
    scrollbar-color: #292929 #292929;
    scrollbar-arrow-color: red;
    scrollbar-width:thin;
}

.seasons .container .list:hover {
    transition: all 0.2s linear;
    scrollbar-color: #FF6EC1 #292929;
}

.seasons .container .list div img {
    max-height: 350px;
    min-height: 350px;
    object-fit: fill;
}

.seasons .container .list div {
    cursor: pointer;
}

.seasons .container .list div h2 {
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}

.seasons .container .list div p {
    font-size: 14px;
}

.seasons .container .list div:nth-child(1) {
    margin-left: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

.seasons .container .list img {
    width: 250px;
    border-radius: 3px;
}

.seasons .container .list p:nth-child(4) {
    color: var(--gray-text);
}

.seasons .container {
    position: relative;
}

.seasons .container .arrows img {
    width: 40px;
    cursor: pointer;
}

.seasons .container .arrows img:nth-child(1) {
    position: absolute;
    left: 40px;
    top:92px;
    min-height: 465px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-out;
}

.seasons .container .arrows img:nth-child(2) {
    position: absolute;
    right: 40px;
    top: 92px;
    min-height: 465px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-out;
}

.seasons .container .arrows img:nth-child(1):hover,.seasons .container .arrows img:nth-child(2):hover {

    background-color: rgba(255, 255, 255, 0.8);
}

.seasons .container .list div.cardClicked {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    padding-top: 50px;
    justify-content: baseline;
    gap: 10px;
    left: 0px;
    width: 100vw;
    height: calc(100vh);
    background-color: var(--bg);
    cursor:auto;
    
}

.seasons .container .list div.cardClicked p {
    font-size: 16px;
    color: #fff;
}

.seasons .container .list div.cardClicked #pSet {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    max-width: 400px;
}

.seasons .container .list div.cardClicked #pSet:before {
    content: "Título: ";
    color: var(--bubble);
    cursor: default;
}

.seasons .container .list div.cardClicked .moreInfo div  {
    display: flex;
    gap: 5px;
    cursor: text;
}

.seasons .container .list div.cardClicked .moreInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.seasons .container .list div.cardClicked #gen,.seasons .container .list div.cardClicked #adp  {
    display: none;
}

/* Seasons 2 */

.seasons2 {
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
}

.seasons2 .container .list2 {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: #050505;
    padding-bottom: 50px;
}

.seasons2 .container span {
    color: var(--bubble);
    text-transform: uppercase;
    border: solid var(--bubble) 4px;
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    padding: 5px;
}

.seasons2 .container .list2 {
    scrollbar-color: #292929 #292929;
    scrollbar-arrow-color: red;
    scrollbar-width:thin;
}

.seasons2 .container .list2:hover {
    transition: all 0.2s linear;
    scrollbar-color: #FF6EC1 #292929;
}

.seasons2 .container .list2 div img {
    max-height: 350px;
    min-height: 350px;
    object-fit: fill;
}

.seasons2 .container .list2 div {
    cursor: pointer;
}

.seasons2 .container .list2 div h2 {
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}

.seasons2 .container .list2 div p {
    font-size: 14px;
}

.seasons2 .container .list2 div:nth-child(1) {
    margin-left: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

.seasons2 .container .list2 img {
    width: 250px;
    border-radius: 3px;
}

.seasons2 .container .list2 p:nth-child(4) {
    color: var(--gray-text);
}

.seasons2 .container {
    position: relative;
}

.seasons2 .container .arrows img {
    width: 40px;
    cursor: pointer;
}

.seasons2 .container .arrows img:nth-child(1) {
    position: absolute;
    left: 40px;
    top:88px;
    min-height: 445px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-out;
}

.seasons2 .container .arrows img:nth-child(2) {
    position: absolute;
    right: 40px;
    top:88px;
    min-height: 445px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-out;
}

.seasons2 .container .arrows img:nth-child(1):hover,.seasons2 .container .arrows img:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.seasons2 .container .list2 div.cardClicked {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    padding-top: 50px;
    justify-content: baseline;
    gap: 10px;
    left: 0px;
    width: 100vw;
    height: calc(100vh);
    background-color: var(--bg);
    cursor:auto; 
}

.seasons2 .container .list2 div.cardClicked p {
    font-size: 16px;
    color: #fff;
}

.seasons2 .container .list2 div.cardClicked #pSet {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    max-width: 400px;
}

.seasons2 .container .list2 div.cardClicked #pSet:before {
    content: "Título: ";
    color: var(--bubble);
    cursor: default;
}

.seasons2 .container .list2 div.cardClicked .moreInfo div  {
    display: flex;
    gap: 5px;
    cursor: text;
}

.seasons2 .container .list2 div.cardClicked .moreInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.seasons2 .container .list2 div.cardClicked #gen,.seasons2 .container .list2 div.cardClicked #adp  {
    display: none;
}

/* TopAnimes */

.topAnime {
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
}

.topAnime .container .listTopAnime {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: #050505;
    padding-bottom: 50px;
}

.topAnime .container span {
    color: var(--bubble);
    text-transform: uppercase;
    border: solid var(--bubble) 4px;
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    padding: 5px;
}

.topAnime .container .listTopAnime {
    scrollbar-color: #292929 #292929;
    scrollbar-arrow-color: red;
    scrollbar-width:thin;
}

.topAnime .container .listTopAnime:hover {
    transition: all 0.2s linear;
    scrollbar-color: #FF6EC1 #292929;
}

.topAnime .container .listTopAnime div img {
    max-height: 350px;
    min-height: 350px;
    object-fit: fill;
}

.topAnime .container .listTopAnime div {
    cursor: pointer;
}

.topAnime .container .listTopAnime div h2 {
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}

.topAnime .container .listTopAnime div p {
    font-size: 14px;
}

.topAnime .container .listTopAnime div:nth-child(1) {
    margin-left: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

.topAnime .container .listTopAnime img {
    width: 250px;
    border-radius: 3px;
}

.topAnime .container .listTopAnime p:nth-child(4) {
    color: var(--gray-text);
}

.topAnime .container {
    position: relative;
}

.topAnime .container .arrows img {
    width: 40px;
    cursor: pointer;
}

.topAnime .container .arrows img:nth-child(1) {
    position: absolute;
    left: 40px;
    top:88px;
    min-height: 445px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-out;
}

.topAnime .container .arrows img:nth-child(2) {
    position: absolute;
    right: 40px;
    top:88px;
    min-height: 445px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-out;
}

.topAnime .container .arrows img:nth-child(1):hover,.topAnime .container .arrows img:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.topAnime .container .listTopAnime div.cardClicked {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    padding-top: 50px;
    justify-content: baseline;
    gap: 10px;
    left: 0px;
    width: 100vw;
    height: calc(100vh);
    background-color: var(--bg);
    cursor:auto; 
}

.topAnime .container .listTopAnime div.cardClicked p {
    font-size: 16px;
    color: #fff;
}

.topAnime .container .listTopAnime div.cardClicked #pSet {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    max-width: 400px;
}

.topAnime .container .listTopAnime div.cardClicked #pSet:before {
    content: "Título: ";
    color: var(--bubble);
    cursor: default;
}

.topAnime .container .listTopAnime div.cardClicked .moreInfo div  {
    display: flex;
    gap: 5px;
    cursor: text;
}

.topAnime .container .listTopAnime div.cardClicked .moreInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.topAnime .container .listTopAnime div.cardClicked #gen,.topAnime .container .list2 div.cardClicked #adp  {
    display: none;
}

@media (max-width: 768px) {
    h1#seasons-h1 {
        font-size: 20px;
    }

    .seasons .container .list img {
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .seasons .container .list div h2 {
        font-size: 16px;
    }

    .seasons .container .list div p {
        font-size: 12px;
        margin-top: 3px;
    }

    h1#seasons2-h1 {
        font-size: 20px;
    }

    .seasons2 .container .list2 img {
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .seasons2 .container .list2 div h2 {
        font-size: 16px;
    }

    .seasons2 .container .list2 div p {
        font-size: 12px;
        margin-top: 3px;
    }
}

/* Top Manga */

.topManga {
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
}

.topManga .container .listTopManga {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: #050505;
    padding-bottom: 50px;
}

.topManga .container span {
    color: var(--bubble);
    text-transform: uppercase;
    border: solid var(--bubble) 4px;
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    padding: 5px;
}

.topManga .container .listTopManga {
    scrollbar-color: #292929 #292929;
    scrollbar-arrow-color: red;
    scrollbar-width:thin;
}

.topManga .container .listTopManga:hover {
    transition: all 0.2s linear;
    scrollbar-color: #FF6EC1 #292929;
}

.topManga .container .listTopManga div img {
    max-height: 350px;
    min-height: 350px;
    object-fit: fill;
}

.topManga .container .listTopManga div {
    cursor: pointer;
}

.topManga .container .listTopManga div h2 {
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}

.topManga .container .listTopManga div p {
    font-size: 14px;
}

.topManga .container .listTopManga div:nth-child(1) {
    margin-left: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

.topManga .container .listTopManga img {
    width: 250px;
    border-radius: 3px;
}

.topManga .container .listTopManga p:nth-child(4) {
    color: var(--gray-text);
}

.topManga .container {
    position: relative;
}

.topManga .container .arrows img {
    width: 40px;
    cursor: pointer;
}

.topManga .container .arrows img:nth-child(1) {
    position: absolute;
    left: 40px;
    top:88px;
    min-height: 445px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-out;
}

.topManga .container .arrows img:nth-child(2) {
    position: absolute;
    right: 40px;
    top:88px;
    min-height: 445px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-out;
}

.topManga .container .arrows img:nth-child(1):hover,.topManga .container .arrows img:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.topManga .container .listTopManga div.cardClicked {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    padding-top: 50px;
    justify-content: baseline;
    gap: 10px;
    left: 0px;
    width: 100vw;
    height: calc(100vh);
    background-color: var(--bg);
    cursor:auto; 
}

.topManga .container .listTopManga div.cardClicked p {
    font-size: 16px;
    color: #fff;
}

.topManga .container .listTopManga div.cardClicked #pSet {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    max-width: 400px;
}

.topManga .container .listTopManga div.cardClicked #pSet:before {
    content: "Título: ";
    color: var(--bubble);
    cursor: default;
}

.topManga .container .listTopManga div.cardClicked .moreInfo div  {
    display: flex;
    gap: 5px;
    cursor: text;
}

.topManga .container .listTopManga div.cardClicked .moreInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.topManga .container .listTopManga div.cardClicked #gen,.topManga .container .list2 div.cardClicked #adp  {
    display: none;
}

@media (max-width: 425px) {
    #webSiteTitle {
        font-size: 18px;
    }

    #quick-acess a {
        border: #aaa 2px solid;
        padding: 5px;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 2px;
        transition: all 0.1s ease;
    }

    .contentImgs2 h3 {
        font-size: 14px;
        text-align: center;
    }

    .seasons .container span {
        font-size: 16px;
        border: solid var(--bubble) 1px;
        border-radius: 3px;
        padding: 3px;
    }

    .seasons .container .list div img {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        object-fit: cover;
        max-width: 150px;
    }

    .seasons .container #h1id {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    h1#seasons-h1 {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        max-width: 350px;
    }

    .seasons .container .list {
        padding-bottom: 40px;
    }

    .seasons .container .arrows {
        display: none;
    }

    .seasons .container .list div img {
        max-height: 200px;
        min-height: 200px;
        max-width: 140px;
        min-width: 140px;
        object-fit: cover;
        padding: 10px 0px 3px 0px;
        border-radius: 6px;
    }

    .seasons .container .list div h2 {
        font-size: 13px;
        max-width: 145px;
    }

    .seasons .container .list div p {
        font-size: 11px;
        margin-top: 3px;
    }

    .seasons .container .list {
        scrollbar-color: #FF6EC1 #292929;
        scrollbar-arrow-color: red;
        scrollbar-width:thin;
    }
    
    .seasons .container .list:hover {
        transition: all 0.2s linear;
    }



    #animeActualMain {
        font-size: 13px !important;
    }

    .highlighted .container .contentImgs img {
        margin-top: 5px;
        object-fit: cover;
        border-radius: 10px;
        padding-top: 5px;
    }
    
    #imgMain {
        text-align: center;
        min-width: 350px;
        max-width: 350px;
        max-height: 250px;
    }

    .seasons .container {
        padding: 10px 0px;
    }

    .seasons2 .container {
        padding: 10px 0px;
    }

    .seasons2 .container span {
        font-size: 16px;
        border: solid var(--bubble) 1px;
        border-radius: 3px;
        padding: 3px;
    }

    .seasons2 .container .list2 div img {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        object-fit: cover;
        max-width: 150px;
    }

    .seasons2 .container #h1id2 {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    h1#seasons2-h1 {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        max-width: 350px;
    }

    .seasons2 .container .list2 {
        padding-bottom: 40px;
    }

    .seasons2 .container .arrows {
        display: none;
    }

    .seasons2 .container .list2 div img {
        max-height: 200px;
        min-height: 200px;
        max-width: 140px;
        min-width: 140px;
        object-fit: cover;
        padding: 10px 0px 3px 0px;
        border-radius: 6px;
    }

    .seasons2 .container .list2 div h2 {
        font-size: 13px;
        max-width: 145px;
    }

    .seasons2 .container .list2 div p {
        font-size: 11px;
        margin-top: 3px;
    }

    .seasons2 .container .list2 {
        scrollbar-color: #FF6EC1 #292929;
        scrollbar-arrow-color: red;
        scrollbar-width:thin;
    }
    
    .seasons2 .container .list2:hover {
        transition: all 0.2s linear;
    }

    .topAnime .container {
        padding: 10px 0px;
    }

    .topAnime .container span {
        font-size: 16px;
        border: solid var(--bubble) 1px;
        border-radius: 3px;
        padding: 3px;
    }

    .topAnime .container .listTopAnime div img {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        object-fit: cover;
        max-width: 150px;
    }

    .topAnime .container #h1id3 {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    h1#seasons3-h1 {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        max-width: 350px;
    }

    .topAnime .container .listTopAnime {
        padding-bottom: 40px;
    }

    .topAnime .container .arrows {
        display: none;
    }

    .topAnime .container .listTopAnime div img {
        max-height: 200px;
        min-height: 200px;
        max-width: 140px;
        min-width: 140px;
        object-fit: cover;
        padding: 10px 0px 3px 0px;
        border-radius: 6px;
    }

    .topAnime .container .listTopAnime div h2 {
        font-size: 13px;
        max-width: 145px;
    }

    .topAnime .container .listTopAnime div p {
        font-size: 11px;
        margin-top: 3px;
    }

    .topAnime .container .listTopAnime {
        scrollbar-color: #FF6EC1 #292929;
        scrollbar-arrow-color: red;
        scrollbar-width:thin;
    }
    
    .topAnime .container .listTopAnime:hover {
        transition: all 0.2s linear;
    }

    .topManga .container {
        padding: 10px 0px;
    }

    .topManga .container span {
        font-size: 16px;
        border: solid var(--bubble) 1px;
        border-radius: 3px;
        padding: 3px;
    }

    .topManga .container .listTopManga div img {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        object-fit: cover;
        max-width: 150px;
    }

    .topManga .container #h1id4 {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    h1#seasons4-h1 {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        max-width: 350px;
    }

    .topManga .container .listTopManga {
        padding-bottom: 40px;
    }

    .topManga .container .arrows {
        display: none;
    }

    .topManga .container .listTopManga div img {
        max-height: 200px;
        min-height: 200px;
        max-width: 140px;
        min-width: 140px;
        object-fit: cover;
        padding: 10px 0px 3px 0px;
        border-radius: 6px;
    }

    .topManga .container .listTopManga div h2 {
        font-size: 13px;
        max-width: 145px;
    }

    .topManga .container .listTopManga div p {
        font-size: 11px;
        margin-top: 3px;
    }

    .topManga .container .listTopManga {
        scrollbar-color: #FF6EC1 #292929;
        scrollbar-arrow-color: red;
        scrollbar-width:thin;
    }
    
    .topManga .container .listTopManga:hover {
        transition: all 0.2s linear;
    }

    .seasons2 #h1id2 {
        text-align: center;
    }

    #seasons2-h1 {
        max-width: 300px !important;
    }

    #malIcon {
        position: absolute;
        left: -30px !important;
        top: -5px;
    }

}

@media (max-width: 375px) {
    h1#seasons4-h1 {
        font-size: 17px;
        text-align: center;
        line-height: 30px;
        max-width: 350px;
    }
    #webSiteTitle {
        font-size: 14px;
    }
    #seasons-h1 {
        font-size: 16px !important;
    }
    .seasons .container span {
        font-size: 14px;
    }
    #seasons2-h1 {
        font-size: 16px !important;
    }
    .topAnime .container span {
        font-size: 14px;
    }
    #seasons3-h1 {
        font-size: 16px !important;
    }
    .seasons2 .container span {
        font-size: 14px;
    }
    #quick-acess a {
        padding: 3px;
        font-size: 8px;
    }
    #animeActualMain {
        font-size: 11px !important;
    }
    #imgMain {
        text-align: center;
        min-width: 300px;
        max-width: 300px;
        max-height: 250px;
    }
    #malIcon {
        position: absolute;
        left: -0px !important;
        top: -5px;
    }
}

#malIcon {
    position: absolute;
    left: -45px;
    top: -5px;
}

#seasons2-h1 {
    position: relative;
    margin-left: 50px;
}

#malTitle {
    padding: 0;
    border: none;
    background-color: transparent !important;
    text-transform: capitalize;
    color: rgb(0, 132, 255);
}

@media (max-width: 425px) {
    #seasons2-h1 {
        margin-left: 0px;
    }
    #malIcon {
        margin-left: 0px;
        position: absolute;
        left: -0px;
        top: -5px;
    }
}

#rank {
    margin-top: 4px;
    color: var(--bubble);
}

.loading {
    position: absolute;
    display: flex;
    font-size: 20px;
    text-align: center;
    height: 489px;
    z-index: 5;
}